<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScoutBadgeTrackerApp"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".LogIn_Activity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ScoutBadgeTrackerApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ScoutBadgeTrackerApp">
            <intent-filter>
                <action android:name="android.intent.action.Home" />

            </intent-filter>
        </activity>

        <activity
            android:name=".Badges_Activity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ScoutBadgeTrackerApp">
            <intent-filter>
                <action android:name="android.intent.action.Badges" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Groups_Activity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ScoutBadgeTrackerApp">
            <intent-filter>
                <action android:name="android.intent.action.Groups" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectedBadges_Activity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ScoutBadgeTrackerApp">
            <intent-filter>
                <action android:name="android.intent.action.SelectedBadges" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Evidence_Activity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ScoutBadgeTrackerApp">
            <intent-filter>
                <action android:name="android.intent.action.Evidence" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp_Activity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ScoutBadgeTrackerApp">
            <intent-filter>
                <action android:name="android.intent.action.SignUp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditMembers_Activity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ScoutBadgeTrackerApp">
            <intent-filter>
                <action android:name="android.intent.action.EditMembers" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewEvidence_Activity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ScoutBadgeTrackerApp">
            <intent-filter>
                <action android:name="android.intent.action.ViewEvidence" />
            </intent-filter>
        </activity>
    </application>

</manifest>